@model dynamic
@{
  ViewBag.Title = "Невозможно сделать Отказ от выполнения";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left: 10px">
  <h2>Невозможно сделать Отказ от выполнения. Документ @Model.ed.DocNum. @Model.NameTo Логин @User.Identity.Name</h2>
</div>
